@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  @apply bg-slate-50;
}

.heading1 {
  @apply text-5xl;
}

.heading2 {
  @apply text-3xl;
}

.heading3 {
  @apply text-2xl;
}

.underline_text {
  @apply underline;
}